{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

  {{ include('all/_header_admin.html.twig') }}

<div class="container">

    {# Affichage de mon Bien#}

    <affichage>
      {# Faisant une interpollation#}
        <h1> {{ location.denomination }}</h1>
            <p> Date de publication: {{ location.createdAt | date('d/m/Y')}}</p>
             <div class = "contenu">
                <img src="{{ location.photo}}/850x300" alt=""  align="left">
                 <p align="justify"> {{ location.description}}   </p> 
                 <p align="justify"> {{ location.description}}   </p> 
                 <p align="justify"> {{ location.description}}   </p> 
      {#           <a href="{{ path('index.affich', {'id': immobilier.id })}}" class="btn btn-primary"> Consulter</a> #}  
            </div>     

                    <a href="{{ path('location.edition', {'id': location.id}) }}"><button type="button" class="btn btn-infoin">Editer</a>
                  {#  {{ include('all/_delete_form.html.twig') }}#}
                    
    </affichage>
          <hr> </hr>

</div>

{% endblock %}
