{% extends 'base.html.twig' %}

{% block denomination %}Guinot-immobilier{% endblock %}

{% block body %}
  {{ include('_header_footers/header_location.html.twig') }}

    <div class="container">
          <div class="row" >
               {%for location in locations | slice(0,length=12) %}
                    <div class="col-3">
                         <div class="card">
                               <img src=" {{ location.photo }} " alt="" width="250">
                              <h5>{{location.denomination}}</h5>
                               <ul>
                                   <li><p>Surface : {{ location.surface}} M2</p></li> 
                                   <li><p>Type : {{ location.type}}</p></li> 
                                   <li><p>Prix : {{ location.prix}} € / mois  </p> </li> 
                                   <a href="{{ path('location.affich', {'id': location.id}) }}"><button type="button" class="btn btn-info">Consultez </a>
                               </ul>
                         </div>
                    </div>
               {% endfor%}
          
          </div>
     

 <div class="pagination">
        {{ knp_pagination_render(locations) }}
</div>

</div>

{% endblock %}
